body{ 	
	background-color:#f5f5f5; 
	margin:30px auto;
	max-width: 1210px;
	font-size:19px;
	font-family: Kalinga;
}

#banner{	
	font-family:Calisto MT; 
	font-size:40px;	
	display:block;	
	word-wrap: break-word;				
}

#fontsz{
	font-size: 24px;
	font-family: Kalinga;
}

#dotted{	
	border-bottom: thin dotted;
	font-size: 24px;
	font-family: Kalinga;
}

a:link{	
	color:black;
	text-decoration: none; 
}	

a:visited{	
	color: black; 
	text-decoration: none; 
}

a:hover{	
	color: gray;	
}


#menu{	
	font-family: Kalinga;
	font-size:22px;	
	float:right;
	margin-top: -10px;
}		
								
#menu ul li{   
	text-decoration:none; 
	display:inline; 
	padding:15px; 
} 

#menu ul li:hover{   
	color:gray;	
}


#content{ 	
	margin-top:80px;
	word-wrap: break-word;
	 
}

#sentence{	
	font-size: 53px; 
	text-align: center;
}

.tbl{	
	display: table;
	
}

.tblcontent{	
	display: table-cell;
	text-align:center;
	max-width:280px;
	position: relative;
   	float: left;
	padding:120px 60px;

	 
}

.tblcontent2{	
	display: block;
    max-width: 900px;
	float: left;
	margin-left: 50px;
	font-size: 17px;
	width:40%;
}

#blue{	
	background-color:#002b49;  
	padding:20px; 
	margin:0 auto;
	font-family:Kalinga; 
	font-size:27px;
	text-align: center;	
	border-radius: 5px;

}

#blue a{	
	color: white;	
}

#blue:hover{	
	opacity:0.6;	
}

#blue img{
	width:43px;
}

.visit{	
	font-size:18px;
}

.visit img{
	width:7px;
}

#smart{   
	color: white; 
	background-color: #7ad4ce;
	padding:3px;
	border-radius:5px; 
}

#smart:hover{   
	color: white; 
	background-color: #48c4bb; 
	padding:3px;
	border-radius:5px; 
}

#prod{	
	color: white; 
	background-color: #fdc44f; 
	padding:3px;
	border-radius:5px; 
}

#prod:hover{	
	color: white; 
	background-color: #fcae0d; 
}

button{    
	background-color: #93b8ca; 
	border: 0 none; 
	border-radius: 3px; 
	color: white;
	display: inline-block; 
	font-weight: 600; 
	padding: 11px 18px 8px;
    text-decoration: none; 
}

button:hover{	
	opacity:0.7; 
}

.icon:hover{	
	opacity:0.5; 
}

#work{	
	color:#93b8ca; 
	padding: 100px 20px;
	font-family: Kalinga; 
	font-size:35px; 
	text-align: center;
	margin:0 auto;
}

#work a{	
	color:#93b8ca;
	font-size: 27px;
	font-weight: bold;
	font-family: Corbel;
}

#work img{
	width:9px;
}

#work a:hover{	
	opacity: 0.6;
}

#tupac{
	font-size: 20px;
	color: gray;
}

footer{	
	bottom:0; 
	text-align:center;
	padding-top:100px; 
	font-family:Kalinga; 
	color:gray; 
	font-size:14px; 
}

footer img{
	width:15px;
}

